<ul class="scscProvince">
    <li class="provinceMap item col-33">
        <div>
            <div id="provinceMap"></div>
            <div class="fuck1">
                <p>
                    <span>总放贷：</span>
                    <b id="amount"></b>
                </p>
                <p>
                    <span>累计笔数：</span>
                    <b id="deal"></b>
                </p>
                <p>
                    <span>受理金额：</span>
                    <b id="lendingAmt"></b>
                </p>
                <p>
                    <span>总注册人数：</span>
                    <b id="users"></b>
                </p>

            </div>
        </div>
    </li>
    <li class="provinceMap item col-33">
        <div>
            <h2>各银行放款金额（<span class="canvas-title-span"></span>万元）</h2>
            <div class="canvas-container"><p style='line-height: 398px;text-align:center'>加载中...</p></div>
        </div>
    </li>
    <li class="provinceMap item col-33">
        <div>
            <h2>各银行放款笔数（<span class="canvas-title-span"></span>笔）</h2>
            <div class="canvas-container"><p style='line-height: 398px;text-align:center'>加载中...</p></div>
        </div>
    </li>

    <li class="provinceMap item col-33">
        <div>
            <h2>各村镇放款金额（<span class="canvas-title-span"></span>万元）</h2>
            <div class="canvas-container"><p style='line-height: 398px;text-align:center'>加载中...</p></div>
        </div>
    </li>
    <li class="provinceMap item col-33">
        <div>
            <h2>各银行受理金额（<span class="canvas-title-span">0</span>万元）</h2>

            <div class="canvas-container"><p style='line-height: 398px;text-align:center'>加载中...</p></div>
        </div>
    </li>
    <li class="provinceMap item col-33">
        <div>
            <h2>各银行受理笔数（<span class="canvas-title-span">0</span>笔）</h2>
            <div class="canvas-container"><p style='line-height: 398px;text-align:center'>加载中...</p></div>
        </div>
    </li>
    <li class="provinceMap item col-33">
        <div>
            <h2>各村镇放款笔数（<span class="canvas-title-span"></span>笔）</h2>
            <div class="canvas-container"><p style='line-height: 398px;text-align:center'>加载中...</p></div>
        </div>
    </li>
    <li class="provinceMap item col-33">
        <div>
            <h2>注册用户数排名前10的村镇（<span class="canvas-title-span"></span>人）</h2>
            <div class="canvas-container"><p style='line-height: 398px;text-align:center'>加载中...</p></div>
        </div>
    </li>
    <li class="provinceMap item col-33">
        <div>
            <h2>各村镇入驻金融机构数（<span class="canvas-title-span"></span>个）</h2>
            <div class="canvas-container"><p style='line-height: 398px;text-align:center'>加载中...</p></div>
        </div>
    </li>
    <!--<li  class="provinceMap item col-33">-->
    <!--<div>-->
    <!--<h2>各机构风险负担获取金额</h2>-->
    <!--<div class="canvas-container"></div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li  class="provinceMap item col-33">-->
    <!--<div>-->
    <!--<h2>各村镇新型经营体采集数（个）</h2>-->
    <!--<div class="canvas-container"></div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li  class="provinceMap item col-33">-->
    <!--<div>-->
    <!--<h2>入住企业金融机构数（个）</h2>-->
    <!--<div class="canvas-container"></div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li  class="provinceMap item col-33">
       <div>
           <h2>各村镇贷款金额</h2>
           <div id="chart12"></div>
       </div>
   </li>
  <li  class="provinceMap item col-33">
       <div>
           <h2>各村镇贷款金额</h2>
           <div id="chart13"></div>
       </div>
   </li>
   <li  class="provinceMap item col-33">
       <div>
           <h2>各村镇贷款金额</h2>
           <div id="chart14"></div>
       </div>
   </li>
   <li  class="provinceMap item col-33">
       <div>
           <h2>各村镇贷款金额</h2>
           <div id="chart15"></div>
       </div>
   </li>
   <li  class="provinceMap item col-33">
       <div>
           <h2>各村镇贷款金额</h2>
           <div id="chart16"></div>
       </div>
   </li>-->
</ul>

